@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,700;1,800&family=Roboto:ital,wght@1,100&display=swap');

* {
   box-sizing: border-box;
   padding: 0%;
   margin: 0%;
}

body {
   background-image: url(pics/WhiteGrain.svg);
   height: max-content;
   background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

section {
   margin: auto;
   max-width: 1600px;
   height: max-content;
}

.navbar{
   display: flex;
   gap: 4%;
   padding-top: 2%;
   margin-left: 4%;
   align-items: center;
}
.navbar p{
   font-family: 'Poppins', sans-serif;
   font-size: xx-large;
   text-shadow: 1em black;
   color: #002533;
   font-weight: bolder;
}
.navbar a
{  text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 500;
    color: #fbfcfd;
    display: inline-block;
 }
 .navigationoptions{
    padding-left: 4%;
    display: flex;
    justify-content: space-between;
    width: 49%;
    align-items: center;
 }
 .nav-item{
   min-width: max-content;
 }
 .nav-item:hover{
   color: #F1413E;
 }
 .nav-item[aria-current="page"] {
   color: #F1413E;
 }
 .buttons{
    width: 32%;
    display: flex;
    align-items: center;
    gap: 9%;
    padding-left: 2%;
 }
 .login {
   font-family: 'Poppins', sans-serif;
   font-size: medium;
   color: #EAF2EF;
   text-decoration: none;
   font-weight: 300;
   box-shadow: 0 0 3px #F1413E;
   padding: .4em 1.8rem;
   background-color: #F1413E;
   border-radius: 1.5rem 1.5rem;
   -webkit-border-radius: 1.5rem 1.5rem;
   -moz-border-radius: 1.5rem 1.5rem;
   -ms-border-radius: 1.5rem 1.5rem;
   -o-border-radius: 1.5rem 1.5rem;
}
 .login a{
   font-family: 'Poppins', sans-serif;
   font-size: large;
   color: #EAF2EF;
   text-decoration: none;
   font-weight: 300;

 }
 .search {
    color: #EAF2EF;
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 6%;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 300;
    box-shadow: 0 0 9px #fff;
    width: 45%;
    height: 42px;
    opacity:1;
    padding: .2em .9rem;
    background-color: #7376798d;
    border-radius: 2rem 2rem;
    -webkit-border-radius: 2rem 2rem;
    -moz-border-radius: 2rem 2rem;
    -ms-border-radius: 2rem 2rem;
    -o-border-radius: 2rem 2rem;
}
 
 .mini-search::placeholder {
    color: #ebf1f3;
    opacity: 1;
    font-size: large;
    display: flex;
    
 }
 
 .mini-search {
    background-color: #575a5b80;
    border: transparent;
    width: 80%;
    margin: 0%;

 }
 #whitepipe{
    font-size: large;
    width: 9%;
    height: 70%; 
 }
 .fa-magnifying-glass{
    font-size: x-large;
    color: #e4e8e9;
 }
 input[type="text"]{
   font-size: larger;
   color: #00000055;
 }
 .headerhomepage{
   background-image: url(pics/headerbag.svg);
   background-repeat: no-repeat;
   background-size: cover;
}
.headerintro{
   height: 530px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
 #logo{
   font-size:x-large;
   width: 15%;
   color: #e4e8e9;
 }
 
.insidesearch{
   font-family: 'Poppins', sans-serif;
   font-size: medium;
   color: #EAF2EF;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 400;
   padding: 1em 2rem;
   background-color: #F1413E;
   border-radius: 1.3rem 1.5rem;
   -webkit-border-radius: 1.3rem 1.5rem;
   -moz-border-radius: 1.3rem 1.5rem;
   -ms-border-radius: 1.3rem 1.5rem;
   -o-border-radius: 1.3rem 1.5rem;
   height: 45px;
   width: 17%;
   margin-right: 4%;
   box-shadow: 0 0 6px #F1413E;
   cursor: pointer;
}
.insidesearch:hover {
   transform: translateY(-5px);
   box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
   background-color: rgb(255, 0, 0);
   transform: scaleX(1.1) scaleY(1.1);
   transition: all .3s;
   -webkit-transition: all .3s;
   -moz-transition: all .3s;
   -ms-transition: all .3s;
   -o-transition: all .3s;
   -webkit-transform: scaleX(1.1) scaleY(1.1);
   -moz-transform: scaleX(1.1) scaleY(1.1);
   -ms-transform: scaleX(1.1) scaleY(1.1);
   -o-transform: scaleX(1.1) scaleY(1.1);
}
#biglogo{
   width: 50%;
}

.intro {
   margin: 0%;
   flex-direction: column;
   display: flex;
   margin-left: 5%;
   margin-top: 8%;
   width: 70%;
}

.intro span {
   font-family: 'Poppins', sans-serif;
   color: #EAF2EF;
}

#titlo {
   font-weight: 600;
   font-size: 45px;

}

#soustitlo {
   font-size: 19px;
   font-weight: 300;
}

.big-search {
   font-family: 'Poppins', sans-serif;
   font-size: large;
   font-weight: 300;
   box-shadow: 0 0 9px white;
   padding: .8rem .8rem;
   background-color: #eaf2ef;
   border-radius: 2.9rem 2.9rem;
   -webkit-border-radius: 2.9rem 2.9rem;
   -moz-border-radius: 2.9rem 2.9rem;
   -ms-border-radius: 2.9rem 2.9rem;
   -o-border-radius: 2.9rem 2.9rem;
   vertical-align: baseline;
   margin-top: 7%;
   display: flex;
   width: 130%;
   z-index: 1;
}

#searchbig{
   border: transparent;
   background-color: transparent;
   width: 60%;
   height: 50%;
   margin: 0%;
   outline: none;
}
.red {
  color: red;
}
#searchbig-webkit-input-placeholder:after {
   content:"Author ...";
   color:red;
   font-size:1.15em;
}
#searchbig::-moz-placeholder:after {
   content:"Author ...";
   color:red;
   font-size:1.15em;
}
#searchbig:-ms-input-placeholder:after {     
   content:"Author ...";
   color:red;
   font-size:1.15em;
}

#search::placeholder {
   color: #2e4b42;
   font-size: x-large;
   align-items: center;
}
input[type="text"]{
  font-size: larger;
  color: #00000085;
  font-weight: 400;
}
.big-search::before {
   font-family: FontAwesome;
   font-size: xx-large;
   content: "\f002";
   color: #F1413E;
   padding-left: 3%;
}

#redpipe {
   width: 90px;
   height: 40px;
}
.leftpics{
   margin-top: 9%;
   object-fit: cover;
   width: 80%;
   height: 100%;
   display: flex;
   justify-content: center;
}
#leftpicsbag{
height: 95%;
}
.plusbook {
   display:flex;
   gap: 8%;
   margin-top: 4%;
   margin-bottom: 4%;
}
.plusbook p{
   text-align: center;
}
#plus {
   color: #F1413E;
   font-size: x-large;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;

}

#num {
   color: #EAF2EF;
   font-size: x-large;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;

}

#bo {
   color: #EAF2EF;
   font-size: x-large;
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   padding-left: 25%;
}
.show
{
 max-width: 1600px;
 height: max-content;
 margin: auto;
 margin-top: 4%;
 margin-bottom: 12%;
}

.show p{
   font-family: 'Poppins', sans-serif;
   color: #F1413E;
   font-weight: 700;
   font-size: xx-large;
   padding-left: 5%;
   display: inline-block;
   
}

.container{
   background-image: url(pics/Gradient.svg);
   height:max-content;
   width: 100vw;
   margin: auto;
}
.footer{
   margin: auto;
   display: flex;
   height: max-content;
   flex-direction: column;
   justify-content: center;
   max-width: 1300px;
}

.foots{
   display: flex;
   gap:12%;
   justify-content: center;
   height: max-content;
}
.leftpart{
  display:flex;
  flex-direction: column;
  gap: 2%;
  width: 25%;
}
#estinlogo{
   width: 90%;
   height: 70%;
   
   padding-left: 18%;
}
#infos{
   font-family: 'Poppins', sans-serif;
   color:#EAF2EF;
   font-weight: 400;
   font-size: 16px;
   padding-left: 23%;
   padding-bottom: 5%;
   
}
#contactmail{
   color: #EAF2EF;
}
.follow{
 width: 30%;
 height: 40%;
 margin-top: 3%;
}
.follow p{
   font-family: 'Poppins', sans-serif;
   color:#EAF2EF;
   font-weight: 600;
   font-size: 30px;
   display: inline;
   text-decoration: none;
}
.socialmedia a{
   text-decoration: none;
   
}
.socialmedia{
   width: 70%;
   padding-top: 5%;
   padding-left: 4%;
   gap: 4%;
   display: flex;
}
.librarycontact{
   display: flex;
   flex-direction: column;
   margin-top: 3%;
   gap: 2%;
}
.librarycontact p{
   font-family: 'Poppins', sans-serif;
   color:#EAF2EF;
   font-weight: 600;
   font-size: 25px;
}
label, input, textarea {
   display: block;
   width: 360px;
   margin-top: 4%;
   font-size: small;
   font-family: 'Poppins', sans-serif;
 }
 #name {
   font-size: small;
 }
#send{
   font-family: 'Poppins', sans-serif;
   font-size: medium;
   color: #EAF2EF;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 400;
   cursor: pointer;
   padding: 0.6em 1.8rem;
   background-color: #F1413E;
   border-radius: 1.3rem 1.3rem;
   -webkit-border-radius: 1.3rem 1.3rem;
   -moz-border-radius: 1.3rem 1.3rem;
   -ms-border-radius: 1.3rem 1.3rem;
   -o-border-radius: 1.3rem 1.3rem;
   height: 35px;
   width: 30%;
   box-shadow: 0 0 6px #F1413E;
   border: transparent;
   margin-left: 70%;
   margin-top: 2%;

}
#send:hover {
   transform: translateY(-5px);
   box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
   background-color: rgb(255, 0, 0);
   transform: scaleX(1.1) scaleY(1.1);
   transition: all .3s;
   -webkit-transition: all .3s;
   -moz-transition: all .3s;
   -ms-transition: all .3s;
   -o-transition: all .3s;
   -webkit-transform: scaleX(1.1) scaleY(1.1);
   -moz-transform: scaleX(1.1) scaleY(1.1);
   -ms-transform: scaleX(1.1) scaleY(1.1);
   -o-transform: scaleX(1.1) scaleY(1.1);
}
#name,#email{
   padding: 0.6em 1.5rem;
   border-radius: 0.6rem 0.5rem;
   border: transparent;
   -webkit-border-radius: 0.6rem 0.5rem;
   -moz-border-radius: 0.6rem 0.5rem;
   -ms-border-radius: 0.6rem 0.5rem;
   -o-border-radius: 0.6rem 0.5rem;
   height: 30px;
   width: 100%;
}
.librarycontact ::placeholder{
   font-size: 14px;
   font-family: 'Poppins', sans-serif;
}
#message{
   padding: 0.6em 1.8rem;
   border-radius: 0.6rem 0.5rem;
   border: none;
   -webkit-border-radius: 0.6rem 0.5rem;
   -moz-border-radius: 0.6rem 0.5rem;
   -ms-border-radius: 0.6rem 0.5rem;
   -o-border-radius: 0.6rem 0.5rem;
   height: 100px;
   width: 100%;
   outline:none;
   resize: none; 
}
.final{
  width: 1300px;
  gap: 2%;
  height: 9%;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}
.final p{
   font-family: 'Poppins', sans-serif;
   color: #EAF2EF;
   font-size: 18px;
   font-weight: 400;
}
#finalline{
   padding-top: 2%;
   width: 100%;
   padding-left: 5%;
}

.coprdiv{
   gap: 1%;
   padding-top: 1%;
   padding-bottom: 1%;
   display: flex;
   align-items: center;
   justify-content: center;
}
/* book slider styling start here */
.sectionheader{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1%;
}

.booksslide{
  max-width: 1600px;
  overflow: hidden;
  margin: auto;
}
.booksslide p{
   font-size: 40px;
}


#viewallbutton{
   display: flex;
   float:right;
   gap: 4%;
   font-size: x-large;
}
#viewallbutton a{
   text-decoration: none;
   color: #F1413E;
}
#viewallbutton:hover #scrollbuttontop{
   margin-left: 4%;
   transition: all .1s;
   -webkit-transition: all .1s;
   -moz-transition: all .1s;
   -ms-transition: all .1s;
   -o-transition: all .1s;
}
#scrollbuttontop{
   width: 20%;
}
#bookpic{
   width:70%;
   height: 100%;
  margin-top: 4%;
}
#book-pic{
   width:70%;
   height: 100%;
  margin-top: 4%;
}
#bookpic:hover{
   transform: translateY(-5px);
   transform: scaleX(1.2) scaleY(1.2);
   transition: all .3s;
   -webkit-transition: all .3s;
   -moz-transition: all .3s;
   -ms-transition: all .3s;
   -o-transition: all .3s;
   -webkit-transform: scaleX(1.2) scaleY(1.2);
   -moz-transform: scaleX(1.2) scaleY(1.2);
   -ms-transform: scaleX(1.2) scaleY(1.2);
   -o-transform: scaleX(1.2) scaleY(1.2);
}
#book-pic:hover{
   transform: translateY(-5px);
   transform: scaleX(1.2) scaleY(1.2);
   transition: all .3s;
   -webkit-transition: all .3s;
   -moz-transition: all .3s;
   -ms-transition: all .3s;
   -o-transition: all .3s;
   -webkit-transform: scaleX(1.2) scaleY(1.2);
   -moz-transform: scaleX(1.2) scaleY(1.2);
   -ms-transform: scaleX(1.2) scaleY(1.2);
   -o-transform: scaleX(1.2) scaleY(1.2);
}
#booktitle{
   color: #000000;
   font-family:'Poppins', sans-serif;
   font-weight: 600;
   font-size: x-large;
   display: inline;
   align-content: center;
}
#book-title{
   color: #000000;
   font-family:'Poppins', sans-serif;
   font-weight: 600;
   font-size: x-large;
   display: inline;
   align-content: center;
}
#bookdescription{
   color: #000000;
   font-family:'Poppins', sans-serif;
   font-weight: 300;
   font-size: large;
   display: inline;
   align-content: center;
}
#book-description{
   color: #000000;
   font-family:'Poppins', sans-serif;
   font-weight: 300;
   font-size: large;
   display: inline;
   align-content: center;
}
.slides{
   background-image: url(pics/blurbackround.svg);
   margin: 0%;
   width: 100%;
   height: 50%;
   position: relative;
   display: flex;
   padding-top: 3%;
   padding-left: 5%;
   padding-bottom: 3%;
   overflow-x:auto;
   scroll-behavior: smooth;
}
.slides-borrowed{
   background-image: url(pics/blurbackround.svg);
   margin: 0%;
   width: 100%;
   height: 50%;
   position: relative;
   display: flex;
   padding-top: 3%;
   padding-left: 5%;
   padding-bottom: 3%;
   overflow-x:auto;
   scroll-behavior: smooth;
}

.slide a{
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
   font-size: medium;
   color: #F1413E;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 400;
   cursor: pointer;
   padding: 0.6em 1.8rem;
   background-color: transparent;
   border-radius: 1.3rem 1.3rem;
   -webkit-border-radius: 1.3rem 1.3rem;
   -moz-border-radius: 1.3rem 1.3rem;
   -ms-border-radius: 1.3rem 1.3rem;
   -o-border-radius: 1.3rem 1.3rem;
   height: 35px;
   width: 30%;
   border:1px solid #F1413E;
   margin-top: 2%;
   margin-left: 4%;
   
}
.slide-wrapper a{
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
   font-size: medium;
   color: #F1413E;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 400;
   cursor: pointer;
   padding: 0.6em 1.8rem;
   background-color: transparent;
   border-radius: 1.3rem 1.3rem;
   -webkit-border-radius: 1.3rem 1.3rem;
   -moz-border-radius: 1.3rem 1.3rem;
   -ms-border-radius: 1.3rem 1.3rem;
   -o-border-radius: 1.3rem 1.3rem;
   height: 35px;
   width: 30%;
   border:1px solid #F1413E;
   margin-top: 2%;
   margin-left: 4%;
}
.slide a:hover{
   color: #f8f4f4;
   background-color:#F1413E;
}
.slide-wrapper a:hover{
   color: #f8f4f4;
   background-color:#F1413E;
}
.slide{
   height: 100%;
   width: 30%;
   display: flex;
   flex-direction: column;
   margin-left: 3%;
   transition: transform 0.5s ease-in-out;
   -webkit-transition: transform 0.5s ease-in-out;
   -moz-transition: transform 0.5s ease-in-out;
   -ms-transition: transform 0.5s ease-in-out;
   -o-transition: transform 0.5s ease-in-out;
}
.slide-wrapper {
   height: 100%;
   width: 30%;
   display: flex;
   flex-direction: column;
   margin-left: 3%;
}
.slide.active #bookpic{
   transform: translateY(-5px);
   transform: scaleX(1.2) scaleY(1.2);
   transition: all .3s;
   -webkit-transition: all .3s;
   -moz-transition: all .3s;
   -ms-transition: all .3s;
   -o-transition: all .3s;
   -webkit-transform: scaleX(1.2) scaleY(1.2);
   -moz-transform: scaleX(1.2) scaleY(1.2);
   -ms-transform: scaleX(1.2) scaleY(1.2);
   -o-transform: scaleX(1.2) scaleY(1.2);
}
.slide-wrapper.active #bookpic{
   transform: translateY(-5px);
   transform: scaleX(1.2) scaleY(1.2);
   transition: all .3s;
   -webkit-transition: all .3s;
   -moz-transition: all .3s;
   -ms-transition: all .3s;
   -o-transition: all .3s;
   -webkit-transform: scaleX(1.2) scaleY(1.2);
   -moz-transform: scaleX(1.2) scaleY(1.2);
   -ms-transform: scaleX(1.2) scaleY(1.2);
   -o-transform: scaleX(1.2) scaleY(1.2);
}
.slide p{
 margin: 0%;
 margin-top: 2%;
}
.slide-wrapper p{
   margin: 0%;
 margin-top: 2%;
}
#prev,
#next {
    position: absolute;
    top: 40%;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
    display: inline-block;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#borrowed-prev-btn,#borrowed-next-btn{
   position: absolute;
    top: 40%;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
    display: inline-block;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#prev { background-image: url(ell/ScrollL.svg); }
#borrowed-prev-btn{background-image: url(ell/ScrollL.svg);}
#prev:hover {
   box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
   background-color: rgb(255, 0, 0);
 }
#borrowed-prev-btn{
   box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
   background-color: rgb(255, 0, 0);
}
#next {
    right: 0;
    background-image: url(ell/ScrollR.svg);
}
#borrowed-next-btn{
   right: 0;
   background-image: url(ell/ScrollR.svg); 
}

#next:hover { 
   box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
   background-color: rgb(255, 0, 0);
 }
 #borrowed-next-btn:hover{
   box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
   background-color: rgb(255, 0, 0);
 }
 #new{
   margin-bottom: 5%;
 }
/* Search dropDown*/
#search-dropdown{
  height: 100%;
   min-width:1600px;
   margin: auto;
   background-color: #EAF2EF;
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: 2;
   transition: 400ms ease-in-out;
   transform: translate(-50%,-50%)scale(0);
   -webkit-transform: translate(-50%,-50%)scale(0);
   -moz-transform: translate(-50%,-50%)scale(0);
   -ms-transform: translate(-50%,-50%)scale(0);
   -o-transform: translate(-50%,-50%)scale(0);
   -webkit-transition: 400ms ease-in-out;
   -moz-transition: 400ms ease-in-out;
   -ms-transition: 400ms ease-in-out;
   -o-transition: 400ms ease-in-out;
}
#search-dropdown.active{
   transform: translate(-50%,-50%)scale(1);
   -webkit-transform: translate(-50%,-50%)scale(1);
   -moz-transform: translate(-50%,-50%)scale(1);
   -ms-transform: translate(-50%,-50%)scale(1);
   -o-transform: translate(-50%,-50%)scale(1);
}
.search-section{
   font-family: 'Poppins', sans-serif;
   font-size: large;
   font-weight: 300;
   box-shadow: 0 0 9px #DCE0DE;
   padding: .5em .5rem;
   background-color: #DCE0DE;
   border-radius: 2.9rem 2.9rem;
   -webkit-border-radius: 2.9rem 2.9rem;
   -moz-border-radius: 2.9rem 2.9rem;
   -ms-border-radius: 2.9rem 2.9rem;
   -o-border-radius: 2.9rem 2.9rem;
   height: 60px;
   width: 80%;
   gap: 4%;
   margin-left: 10%;
   margin-top: 5%;
   padding-left: 2%;
   padding-right: 2%;
   align-items: center;
   justify-content: baseline;
   display: flex;
}
.dropsearch-placeholder{
   background-color:transparent ;
   border: transparent;
   font-weight: 700;
   font-family: 'Poppins', sans-serif;
   width: 80%;
   align-items: center;
   margin: 0%;
}
.fa-arrow-left-long{
   color: rgba(0, 0, 0, 0.55);
   font-size: xx-large;
   cursor: pointer;
}
.fa-xmark{
   color: rgba(0, 0, 0, 0.55);
   font-size: xx-large;
   cursor: pointer;
}
.search-section .fa-magnifying-glass{
   color: rgba(0, 0, 0, 0.55);
   font-size: xx-large;
   cursor: pointer;
}
.recent-history{
   width: 80%;
   margin-left: 12%;
   margin-top: 1%;
   gap: 15%;
   display: flex;
   padding-top: 1%;
   flex-direction: column;
   overflow-y: scroll;
   height:200px ;
   border-top: 1px solid #002533;
   border-bottom:1px solid #002533;
}
.recent-history p{
   font-weight: 500;
   color: #002533;
   font-family: 'Poppins', sans-serif;
   font-size: xx-large;
}
.recent-search{
   display: flex;
   align-items: baseline;
   gap: 2%;
   height: 40%;
}
.recent-search:hover{
   background-color: #00000020;
}
.recent-search p{
   font-size: large;
   color: rgba(0, 0, 0, 0.7);
   font-family: 'Poppins', sans-serif;
}
.recent-search .fa-magnifying-glass{
   color: rgba(0, 0, 0, 0.7);
}
#recentsearchtitle{
   margin-top: 2%;
   font-weight: 500;
   margin-left: 12%;
   font-size: x-large;
   color: #002533;
   font-family: 'Poppins', sans-serif;
}
.fliter-sort{
   justify-content: center;
   align-items: center;
   display: flex;
   gap: 10%;
   
}
#filter-section-title {
   margin-top: 1%;
   margin-bottom: 2%;
   font-weight: 500;
   margin-left: 12%;
   font-size: x-large;
   color: #002533;
   font-family: 'Poppins', sans-serif;
}
.sort-section{
   display: flex;
   flex-direction: column;
   gap: 10%;
   margin-bottom: 2%;
}
.sort-category {
   width: 250px;
   height:90px;
   cursor: pointer;
   align-items: center;
   justify-content: center;
   display: flex;
   padding: .5em .5rem;
   margin-bottom: 8%;
   background-color: #DCE0DE;
   border-radius: 2.9rem 2.9rem;
   -webkit-border-radius: 2.9rem 2.9rem;
   -moz-border-radius: 2.9rem 2.9rem;
   -ms-border-radius: 2.9rem 2.9rem;
   -o-border-radius: 2.9rem 2.9rem;
   box-shadow: 0 5px 5px rgba(27, 27, 27, .5);
}
.sort-category:hover{
   box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}
.sort-section p{
   color: rgba(0, 0, 0, 1);
   font-weight: 500;
   font-size: large;
   font-family: 'Poppins', sans-serif;
}
#search-input
{
width: 950px;
background-color: transparent;
border: transparent;
margin: 0;
outline: none;}
/* styling for reservation request and msg error for yes  */
.reservation-confirm{
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: 2;
   transition: 200ms ease-in-out;
   transform: translate(-50%,-50%)scale(0);
   border: 1px solid #002533;
   background-image: url(ell/WhiteGrainyTexture.svg);
   width: 889px;
   height: 670px;
   border-radius: 3rem 3rem ;
   -webkit-border-radius: 3rem 3rem ;
   -moz-border-radius: 3rem 3rem ;
   -ms-border-radius: 3rem 3rem ;
   -o-border-radius: 3rem 3rem ;
   -webkit-transform: translate(-50%,-50%)scale(0);
   -moz-transform: translate(-50%,-50%)scale(0);
   -ms-transform: translate(-50%,-50%)scale(0);
   -o-transform: translate(-50%,-50%)scale(0);
   -webkit-transition: 400ms ease-in-out;
   -moz-transition: 200ms ease-in-out;
   -ms-transition: 200ms ease-in-out;
   -o-transition: 200ms ease-in-out;
}


.reservation-confirm.active{
   transform: translate(-50%,-50%)scale(1);
   -webkit-transform: translate(-50%,-50%)scale(1);
   -moz-transform: translate(-50%,-50%)scale(1);
   -ms-transform: translate(-50%,-50%)scale(1);
   -o-transform: translate(-50%,-50%)scale(1);
}
#overlay {
   position: fixed;
   opacity: 0;
   transition: 400ms ease-in-out;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
   bottom: 0;
   background-color: rgba(0, 0, 0, .5);
   pointer-events: none;
   -webkit-transition: 400ms ease-in-out;
   -moz-transition: 400ms ease-in-out;
   -ms-transition: 400ms ease-in-out;
   -o-transition: 400ms ease-in-out;
}
 #overlay.active {
   opacity: 1;
   pointer-events: all;
 }
.resp-header{
   margin-bottom: 6%;
   text-align: left;
   display: flex;
   flex-direction: column;
}
.qst-reservation{
   margin-top: 10%;
}
 .reservation-confirm p{
   font-family: 'Poppins', sans-serif;
   font-size: 34.32px;
   color: #002533;
   text-align: center;
 }
 .reservation-header p{
   margin-top:4% ;
   text-align: left;
   font-family: 'Poppins', sans-serif;
   font-size: 30.03px;
  color: rgba(0, 37, 51, 0.7);
}
#linereservation{
   padding-left: 8%;
   padding-right: 4%;
  }
 .elemetns-yes-no{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 8%;
 }
 #yes-reservation{
   cursor: pointer;
   font-family: 'Poppins', sans-serif;
   font-size: x-large;
   color: #f5f3f3;
   text-align: center;
   text-decoration: none;
   font-weight: 500;
   width: 60%;
   padding: .5em .5rem;
   border: 1px solid#F1413E;
   background-color:#F1413E;
   border-radius: 1.9rem 1.5rem;
   -webkit-border-radius: 1.9rem 1.5rem;
   -moz-border-radius: 1.9rem 1.5rem;
   -ms-border-radius: 1.9rem 1.5rem;
   -o-border-radius: 1.9rem 1.5rem;
   margin-bottom: 7%;
}

 #no-reservation{
   cursor: pointer;
   width: 60%;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: x-large;
   color:#F1413E;
   text-decoration: none;
   font-weight: 500;
   padding: .5em .5rem;
   border: 2px solid#F1413E;
   background-color:transparent;
   border-radius: 1.9rem 1.9rem;
   -webkit-border-radius: 1.9rem 1.9rem;
   -moz-border-radius: 1.9rem 1.9rem;
   -ms-border-radius: 1.9rem 1.9rem;
   -o-border-radius: 1.9rem 1.9rem;
 }
 .book-not-available{
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: 2;
   transition: 200ms ease-in-out;
   transform: translate(-50%,-50%)scale(0);
   border: 1px solid #002533;
   background-image: url(ell/WhiteGrainyTexture.svg);
   width: 889px;
   height: 670px;
   border-radius: 3rem 3rem ;
   -webkit-border-radius: 3rem 3rem ;
   -moz-border-radius: 3rem 3rem ;
   -ms-border-radius: 3rem 3rem ;
   -o-border-radius: 3rem 3rem ;
   -webkit-transform: translate(-50%,-50%)scale(0);
   -moz-transform: translate(-50%,-50%)scale(0);
   -ms-transform: translate(-50%,-50%)scale(0);
   -o-transform: translate(-50%,-50%)scale(0);
   -webkit-transition: 400ms ease-in-out;
   -moz-transition: 200ms ease-in-out;
   -ms-transition: 200ms ease-in-out;
   -o-transition: 200ms ease-in-out;
}
.book-not-available.active{
   transform: translate(-50%,-50%)scale(1);
   -webkit-transform: translate(-50%,-50%)scale(1);
   -moz-transform: translate(-50%,-50%)scale(1);
   -ms-transform: translate(-50%,-50%)scale(1);
   -o-transform: translate(-50%,-50%)scale(1);
}
.book-not-available p{
   font-family: 'Poppins', sans-serif;
   font-size: 34.32px;
   color: #002533;
   text-align: center;
 }
 .resp-header p{
   margin-top:4% ;
   margin-left: 8%;
   text-align: left;
   font-family: 'Poppins', sans-serif;
   font-size: 30.03px;
  color: rgba(0, 37, 51, 0.7);
}
#sousresp{
   font-family: 'Poppins', sans-serif;
   font-size: 34.32px;
   color: #002533;
   text-align: center;
   margin-left: 14%;
   width: 70%;
   font-weight: 400;
}
.book-not-available span{
   color: #F1413E;
}
.book-not-avblMsg{
   margin-top: 10%;
   display: block;
}
.book-not-avblMs p{
   font-size: xx-large;
}
 /* return page option*/
 .return-before-page{
   margin-left: 4%;
   margin-top: 4%;
   display: inline;

 }
 .return-before-page a{
   font-family: 'Poppins', sans-serif;
   font-size: xx-large;
   text-decoration: none;
   color: #002533;
 }
 .fa-arrow-left{
   margin-right: 1%;
 }
#center-line{
   display: flex;
   margin-top: 3%;
   margin-left: 5%;
}
/* placeholder big search animation */
.word {
   display: inline-block;
   transform-origin: 50% 50%;
   animation: scale-up 0.6s ease-out both;
 }
 
 @keyframes scale-up {
   0% {
     transform: scale(0);
     opacity: 0;
   }
   100% {
     transform: scale(1);
     opacity: 1;
   }
 }